.first-screen.container.-big
	block header
		include ../common/_header.pug
	.first-screen__content.container
		h1 сайты, которые работают
		h3 Мы создаем совершенство
		button.btn-gradient(data-target="want-site") Хочу сайт